*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.apk
.aar
.aab
.class
.jks
.keystore

local.properties
/app/release
/app/build
/app/src/androidTest
/gradle/gradle-daemon-jvm.properties